.EditForm {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditFormFrame {
  opacity: 1;
  width: 50%;
  height: 50%;
}

.EditFormFrame > textarea {
  font-size: 24px;
  position: relative;
  width: calc(100% - 4px);
  height: 100%;
  resize: none;
}

.EdtiFormController {

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 10%;

}

.EdtiFormController > button {

  margin-top: 5%;

  height: 100%;
  width: 30%

}
