.ChatBody {

  position: relative;

  width: calc(100% - 6px);

  flex-grow: 6;
  height: 0px;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid black 3px;
  border-radius: 32px;

}
