.TabPanel {

  position: fixed;
  width: 100%;

  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.TabPanel > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TabPanel > div > button {
  font-size: 32px;
}
