.Container {

  position: absolute;

  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.LoginForm {

  font-size: 24px;

  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.LoginForm > strong {
  margin-top: 12px;
}

.LoginForm > input {
  margin-top: 12px;
}

.LoginForm > button {
  font-size: 16px;
  margin-top: 12px;
}
