.MenuBase {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuContainer {
  background-color: red;
  width: 35%;
  height: 65%;
  display: flex;
  flex-grow: 6;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  resize: none;
  margin-left: 30%;
  margin-right: 30%;
}

.EditFormFrame > textarea {
  font-size: 24px;
  position: relative;
  width: calc(100% - 4px);
  height: 100%;
  resize: none;
}

.EdtiFormController {

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 10%;

}

.EdtiFormController > button {

  margin-top: 5%;

  height: 100%;
  width: 30%

}
