.UserLabelBase {
  height: 64px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.UserLabelBase div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}
